<ion-header>
    <ion-toolbar>
        <ion-title>
            Trailer
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows, core"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <iframe [src]="src" allowfullscreen width="600" height="500"></iframe>
    </ion-list>
</ion-content>