<ion-header>
    <ion-toolbar>
        <ion-title>
            Trailer
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows, core"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <iframe src="http://www.imdb.com/video/imdb/vi354465561/imdb/embed?autoplay=false&width=595" width="595" height="500" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" frameborder="no" scrolling="no"></iframe>
    </ion-list>
</ion-content>